body{
    font-family: 'PT Sans', sans-serif;
    background-color:black;
    color:blanchedalmond;
}

.navbar-light .navbar-nav .nav-link{
    color:#fff;
}

#navbar{
    background-color:darkslategray;
    width:300px;
    overflow-x:hidden;
    height:320px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    position:fixed;
}

.intro{
    font-size: 1.75em;
    font-weight: bold;
    margin: 0 auto;
    padding:0 32px;
}

#navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.50em;
}

.main-header{
    text-align:center;
}

#main-doc{
    position:absolute;
    margin: 2% 10% 0% 25%;
    padding:20px;

}

#main-doc header{
    text-align:left;
    font-size:2em;
}

section{
    margin-top:15px;
}

code{
    background-color:darkgray;
    color:black;
    border-radius:3px;
    padding:4px 5px;
    margin: 4px;
    font-size:1.2em;
}

.nav-link{
    left:0px;
    position:relative;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.nav-link:hover, .nav-link:active{
    left:20px;
    background-color:aqua;
    padding:5px 10px;
    border-radius:10px;
}

footer{
    text-align:center;
    color:#666
}

@media only screen and (max-width: 768px){
    #navbar{
        padding:0;
        margin:0;
        width:480px;
        max-height:300px;
        border:none;
        z-index:1;
        border-bottom:2px solid;
    }
    #main-doc{
        width: 100%;
        margin: 70% 10% 0% 1%;
        padding-top:0px;
    }
}